/****** GLOBAL ******/

/* Estilização de Títulos */
h1{
    font-size: 5rem;
    font-weight: 900;
    margin: 3rem;
}

h2{
    color: #DEB959;
    font-size: 2.5rem;
    font-weight: 700;
    margin: 1rem;
}

h3{
    font-size: 1.8rem;
    font-weight: 700;
    margin: 1.8rem 0 0.5rem 0;
}

h4{
    font-size: 1.8rem;
    font-weight: 700;
    margin: 1.5rem;
}

h5{
    font-size: 1rem;
    margin: 0.2rem 0 1.3rem 0;
}


/* ADOTE */

.adote{
    position: relative;
    font-size: 1.5rem;
}

.imgAdote{
    width: 100%;
    padding: 0;
    border: 0;
    margin: -0.2rem;
}

.adote div{
    position: absolute;
    color: white;
    text-align: center;
    width: 50rem;
    left: 50%;
    transform: translate(-50%, -25rem);
}

.adote p{
    font-size:1.1em;
}

.adote div hr{
    width: 5.5rem;
    height: 0.25rem;
    border: 0;
    background-color: white;
}



/* SOBRE */

.sobre{
    background-color: #2e6381;
    padding: 1rem 10rem 3rem;
    text-align: center;
    color: white;
    line-height: 3ch;
}



/* VALORES */

.valores{
    background-color: #333333;
    padding: 1rem 8rem 3rem;
    text-align: center;
    color: white;
}

.cardsDispFlex{
    display: flex;
}

.cardsDispFlex img{
    border-radius: 50%;
    width: 10rem;
}

.cardValores{
    width: 25%;
    margin: 0.5rem;
    padding: 0.5rem;
}



/* EXEMPLO */

.exemplo{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0;
}

.exemplo img{
    width: 20rem;
}

.quadroAzulImpar{
    background-color: #2C5680;
    border: 0.2rem #333333 solid;
    width: fit-content;
    height: fit-content;
    margin: 0 5rem 3rem 0;
}

.quadroAzulPar{
    background-color: #2C5680;
    border: 0.2rem #333333 solid;
    width: fit-content;
    height: fit-content;
    margin: 0 0 3rem 5rem;
}

.imgExemploImpar{
    position: relative;
    transform: translate(10%,10%);
}

.imgExemploPar{
    position: relative;
    transform: translate(-10%,10%);
}

.dispExImpar{
    display: flex;
    width: 80%;
    margin: 1rem;
}

.dispExPar{
    display: flex;
    width: 80%;
    margin: 1rem;
    text-align: right;
    
}

.txtExemplo{
    flex-direction: column;
}

/* AREA DE BUSCA LOBINHOS */

.buscaLobinhos{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.busca{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
}

.btnBusca{
    border: 0;
    background-color: #fff
}

#barraBusca{
    position: relative;
    width: 808px;
    height: 45px;
    outline: none;
    margin-right: 15px;
    font-size: 1.5em;
}

.addLobo{
    font-family: "Darker Grotesque";
    font-weight: 600;
    font-size: 1.8em;
    padding: 0 10%;
    border: 0px;
    background-color: #DEB959;
    color: #fff;
}

.adotados {
    font-size: 1.5em;
    margin-left: 40px;
}

.adotar{
    font-family: "Darker Grotesque";
    font-weight: 600;
    font-size: 1.3em;
    margin-top: 3%;
    padding: 0 2%;
    border: 0px;
    background-color: #DEB959;
    color: #fff;
}

