/* 
Theme Name: TemaLobinho
Author: Leticia Godinho
Description: Site tarefa wordpress In Juinor
Version: 1
*/

@import 'css/reset.css';

html{
    font-family: 'Trebuchet MS', sans-serif; /*Caso a fonte padrão nao esteja disponível*/
    font-family: fontePadrao; /* Caso a fonte Darker Grotesque não esteja disponível */
    font-family: Darker Grotesque;
}

body{
    max-width: 2560px;
    font-size: 1.3rem;
}

/* HEADER */

header{
    background-color: #85cdf5;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
    font-weight: 600;
}

header div{
    width: 45%;
    display: flex;
    justify-content: center;
}

header figure{
    width: 10%;
    display: flex;
    justify-content: center;
}

header hr{
    background-color: black;
    width: 5.5rem;
    height: 0.25rem;
    border: 0;
    position: absolute;
    right: 0;
    top: 1.4rem;    
}

.imgLogo{
    height: 5rem;
    margin: 0.5rem;
}

.cxQSMenor{
    width: fit-content;
    position: relative;
}


.linkHeader:hover{
    padding: 5px 0;
    border-bottom: 2px solid rgb(0, 0, 0);
}

/* LIMPEZA DE LINKS */

a{
    text-decoration: none;
    color: black;
}

/* FOOTER */



/* DESAFIO DO FOOTER SEMPRE EM BAIXO, MAS PODE BAGUNÇAR AS OUTRAS PÁGINAS */
/* APAGAR O CÓDIGO A PARTIR DAQUI EM CASO DE BUG SE POSICIONAMENTO */
/*
body{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
.hrFooter{
    margin-top: auto;
}
*/
/* APAGAR O CÓDIGO ATÉ AQUI EM CASO DE BUG DE POSICIONAMENTO */
/* REESCREVER O CSS DO FOOTER SEM USAR DISPLAY: FLEX EM CASO DE BUG */
/* TENTAR USAR INLINE BLOCK */

.hrFooter{
    background-color: black;
    background-image: linear-gradient(to right, #DEB959, #2C5680);
    width: 100%;
    border: 0;
    padding: 0;
    height: 0.3rem;
    margin: 4rem 0 0 0;
}

footer{
    padding: 2rem;
    background-color: #333333;
    font-size: 1.2rem;
    color: white;
}

.footerDispFlex{
    display: flex;
    margin-top: auto;
}

footer div{
    margin: 1rem;
}

.map{
    width: 30%;
    display: flex;
    justify-content: right;
    margin: 0rem 3rem;
}

.contato{
    width: 35%;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0px;
}

.contato img{
    width: 1.3rem;
    margin: 0rem 1rem;
}

.contato div{
    display: flex;
    align-items: center;
    margin: 0rem;
}

.contato div :not(.quemSomos){
    margin: 0.5rem;
}

.displayQuemSomos{
    padding: 0rem 0.5rem;
}

.quemSomos{
    background-color: #DEB959;
    color: #333333;
    font-weight: 800;
    padding: 0rem 0.7rem 0.35rem 0.7rem;
    font-size: 1.75rem;
    width: fit-content;
    position: absolute;
    bottom: 0px;
}

.pegada{
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pegada p{
    margin: 0.5rem;
}

.pegada img{
    margin: 1rem;
    width: 5rem;
}

@media screen and (max-width:1030px){
    .footerDispFlex{
        flex-direction: column;
        align-items: center;
        align-content: center;
    }
    footer div{
        margin: 1rem
    }
    .map{
        display: flex;
        justify-content: center;
    }

    .contato{
        margin: 2rem;
        justify-content: center;
        align-content: center;
        align-items: center;
    }
    .quemSomos{
        display: block;
        position: relative;
        margin: 1rem;
    }
}



/* FONTES */


/* Fonte Local */
@font-face {
    font-family: fontePadrao;
    src: url("Fonte-louis_george_caf/Louis\ George\ Cafe\ Bold.ttf");
}

/* Fonte Remota */

/* vietnamese */
@font-face {
    font-family: 'Darker Grotesque';
    font-style: normal;
    font-weight: 300;
    src: url(https://fonts.gstatic.com/s/darkergrotesque/v7/U9MA6cuh-mLQlC4BKCtayOfARkSVoxr2MWcrTdsX.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
font-family: 'Darker Grotesque';
font-style: normal;
font-weight: 300;
src: url(https://fonts.gstatic.com/s/darkergrotesque/v7/U9MA6cuh-mLQlC4BKCtayOfARkSVoxr2MWYrTdsX.woff2) format('woff2');
unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
font-family: 'Darker Grotesque';
font-style: normal;
font-weight: 300;
src: url(https://fonts.gstatic.com/s/darkergrotesque/v7/U9MA6cuh-mLQlC4BKCtayOfARkSVoxr2MWgrTQ.woff2) format('woff2');
unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* vietnamese */
@font-face {
font-family: 'Darker Grotesque';
font-style: normal;
font-weight: 400;
src: url(https://fonts.gstatic.com/s/darkergrotesque/v7/U9MH6cuh-mLQlC4BKCtayOfARkSVq77UJFcK.woff2) format('woff2');
unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
font-family: 'Darker Grotesque';
font-style: normal;
font-weight: 400;
src: url(https://fonts.gstatic.com/s/darkergrotesque/v7/U9MH6cuh-mLQlC4BKCtayOfARkSVq7_UJFcK.woff2) format('woff2');
unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
font-family: 'Darker Grotesque';
font-style: normal;
font-weight: 400;
src: url(https://fonts.gstatic.com/s/darkergrotesque/v7/U9MH6cuh-mLQlC4BKCtayOfARkSVq7HUJA.woff2) format('woff2');
unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* vietnamese */
@font-face {
font-family: 'Darker Grotesque';
font-style: normal;
font-weight: 500;
src: url(https://fonts.gstatic.com/s/darkergrotesque/v7/U9MA6cuh-mLQlC4BKCtayOfARkSVo0L3MWcrTdsX.woff2) format('woff2');
unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
font-family: 'Darker Grotesque';
font-style: normal;
font-weight: 500;
src: url(https://fonts.gstatic.com/s/darkergrotesque/v7/U9MA6cuh-mLQlC4BKCtayOfARkSVo0L3MWYrTdsX.woff2) format('woff2');
unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
font-family: 'Darker Grotesque';
font-style: normal;
font-weight: 500;
src: url(https://fonts.gstatic.com/s/darkergrotesque/v7/U9MA6cuh-mLQlC4BKCtayOfARkSVo0L3MWgrTQ.woff2) format('woff2');
unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* vietnamese */
@font-face {
font-family: 'Darker Grotesque';
font-style: normal;
font-weight: 600;
src: url(https://fonts.gstatic.com/s/darkergrotesque/v7/U9MA6cuh-mLQlC4BKCtayOfARkSVo27wMWcrTdsX.woff2) format('woff2');
unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
font-family: 'Darker Grotesque';
font-style: normal;
font-weight: 600;
src: url(https://fonts.gstatic.com/s/darkergrotesque/v7/U9MA6cuh-mLQlC4BKCtayOfARkSVo27wMWYrTdsX.woff2) format('woff2');
unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
font-family: 'Darker Grotesque';
font-style: normal;
font-weight: 600;
src: url(https://fonts.gstatic.com/s/darkergrotesque/v7/U9MA6cuh-mLQlC4BKCtayOfARkSVo27wMWgrTQ.woff2) format('woff2');
unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* vietnamese */
@font-face {
font-family: 'Darker Grotesque';
font-style: normal;
font-weight: 700;
src: url(https://fonts.gstatic.com/s/darkergrotesque/v7/U9MA6cuh-mLQlC4BKCtayOfARkSVowrxMWcrTdsX.woff2) format('woff2');
unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
font-family: 'Darker Grotesque';
font-style: normal;
font-weight: 700;
src: url(https://fonts.gstatic.com/s/darkergrotesque/v7/U9MA6cuh-mLQlC4BKCtayOfARkSVowrxMWYrTdsX.woff2) format('woff2');
unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
font-family: 'Darker Grotesque';
font-style: normal;
font-weight: 700;
src: url(https://fonts.gstatic.com/s/darkergrotesque/v7/U9MA6cuh-mLQlC4BKCtayOfARkSVowrxMWgrTQ.woff2) format('woff2');
unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
